--Số máy tính:
--Mã số sinh viên: 2351010176
--Họ tên sinh viên: Phạm Minh Quân
		
--Chú ý: cuối giờ nộp đúng 1 file .sql này (SoMay_MSSV_HoTenKhongDau.sql) vào ổ Z:\
--SV nộp không được thì nhờ GV hỗ trợ nộp, nếu GV không có bài để chấm thì SV nhận 0 diểm, không được khiếu nại

use QLNhanVien
go




--Câu 1: 2 điểm

--		Tạo Stored procedure phân mảnh bảng PhongBan:
create proc TaoPhanManhPB
as
begin
	select * into PhongBanHN
	from PhongBan
	where ChiNhanh = N'Hà nội'

	select * into PhongBanSG
	from PhongBan
	where ChiNhanh = N'Sài gòn'
end
go
--		Exec Stored procedure phân mảnh bảng PhongBan:
exec TaoPhanManhPB
go
--		Tạo Stored procedure phân mảnh bảng NhanVien:
create proc TaoPhanManhNV
as
begin
	select NhanVien.* into NhanVienHN
	from NhanVien, PhongBan
	where NhanVien.MaPB = PhongBan.MaPB
	and PhongBan.ChiNhanh = N'Hà nội'

	select NhanVien.* into NhanVienSG
	from NhanVien, PhongBan
	where NhanVien.MaPB = PhongBan.MaPB
	and PhongBan.ChiNhanh = N'Sài gòn'
end
go

--		Exec Stored procedure phân mảnh bảng NhanVien:
exec TaoPhanManhNV
go

--Sinh viên hãy tạo 2 Stored procedure cho mỗi câu sau đây ở mức 1 mức 2:

--Câu 2: 2 điểm

--		Tạo Stored procedure DSNhanVienMuc1:
create or alter proc DSNhanVienMuc1(
	@TenPB nvarchar(50)
)
as
begin
	if @TenPB is null or @TenPB = N''
		print N'Không nhập tên phòng ban!'
	else if not exists (select * from PhongBan where TenPB = @TenPB)
		print N'Không tìm thấy tên phòng ban!'
	else
		select NhanVien.*, PhongBan.TenPB , PhongBan.ChiNhanh
		from PhongBan, NhanVien
		where PhongBan.MaPB = NhanVien.MaPB
		and PhongBan.TenPB = @TenPB
end
go
--		Exec Stored procedure DSNhanVienMuc1:
exec DSNhanVienMuc1 N'Thiết kế'
go
exec DSNhanVienMuc1 N'Kế toán'
go
exec DSNhanVienMuc1 N'Kỹ thuật'
go
exec DSNhanVienMuc1 NULL
go
exec DSNhanVienMuc1 N''
go

--		Tạo Stored procedure DSNhanVienMuc2:
create or alter proc DSNhanVienMuc2(
	@TenPB nvarchar(50)
)
as
begin
	if @TenPB is null or @TenPB = N''
		print N'Không nhập tên phòng ban!'
	-- PB cùng tên có thể khác chi nhánh
	else if not exists (
		select * from PhongBanHN where TenPB = @TenPB
		
		UNION

		select * from PhongBanSG where TenPB = @TenPB
	)
		print N'Không tìm thấy tên phòng ban!'
	else
		select NhanVienSG.*, PhongBanSG.TenPB , PhongBanSG.ChiNhanh
		from PhongBanSG, NhanVienSG
		where PhongBanSG.MaPB = NhanVienSG.MaPB
		and PhongBanSG.TenPB = @TenPB

		UNION

		select NhanVienHN.*, PhongBanHN.TenPB , PhongBanHN.ChiNhanh
		from PhongBanHN, NhanVienHN
		where PhongBanHN.MaPB = NhanVienHN.MaPB
		and PhongBanHN.TenPB = @TenPB
end
go

--		Exec Stored procedure DSNhanVienMuc2:
exec DSNhanVienMuc2 N'Thiết kế'
go
exec DSNhanVienMuc2 N'Kế toán'
go
exec DSNhanVienMuc2 N'Kỹ thuật'
go
exec DSNhanVienMuc2 NULL
go
exec DSNhanVienMuc2 N''
go

--Câu 3: 3 điểm


--		Tạo Stored procedure ThemPhongBanMuc1:
create proc ThemPhongBanMuc1(
	@MaPB nvarchar(10),
	@TenPB nvarchar(50),
	@ChiNhanh nvarchar(50)
)
as
begin
	if @MaPB is null
		print N'Không thêm dữ liệu được vì không có giá trị mã PB!'
	else if @TenPB is null
		print N'Không thêm dữ liệu được vì không có giá trị tên PB!'
	else if @ChiNhanh is null
		print N'Không thêm dữ liệu được vì không có giá trị Chi Nhánh!'
	else if 
		@MaPB is null and @TenPB is null
		or
		@MaPB is null and @ChiNhanh is null
		or
		@ChiNhanh is null and @TenPB is null

		print N'Không thêm dữ liệu được vì không có 2 giá trị cần nhập!'
	else if @MaPB is null and @TenPB is null and @ChiNhanh is null
		print N'Không thêm dữ liệu được vì không có cả 3 giá trị mã PB, tên PB và Chi Nhánh!'
	
	else if @ChiNhanh not in (N'Sài gòn', N'Hà nội')
		print N'Không thêm dữ liệu được vì chi nhánh không hợp lệ!'
	else if exists (
		select *
		from PhongBan
		where PhongBan.MaPB = @MaPB
	)
		print N'Không thêm dữ liệu được vì trùng mã phòng ban'
	else
		insert into PhongBan
		values (@MaPB, @TenPB, @ChiNhanh)
		print N'Thêm dữ liệu thành công!'
end
go

--		Exec Stored procedure ThemPhongBanMuc1:
exec ThemPhongBanMuc1 NULL, N'Bảo hành', N'Sài gòn'
go
exec ThemPhongBanMuc1 N'PB07', N'Bảo hành', N'Sài gòn'
go
exec ThemPhongBanMuc1 N'PB08', N'Tư vấn', N'Hà nội'
go
exec ThemPhongBanMuc1 N'PB01', N'Kho vận', N'Hà nội'
go
exec ThemPhongBanMuc1 N'PB09', N'Nghiên cứu', N'Cần thơ'
go

--		Tạo Stored procedure ThemPhongBanMuc2:
create proc ThemPhongBanMuc2(
	@MaPB nvarchar(10),
	@TenPB nvarchar(50),
	@ChiNhanh nvarchar(50)
)
as
begin
	if @MaPB is null
		print N'Không thêm dữ liệu được vì không có giá trị mã PB!'
	else if @TenPB is null
		print N'Không thêm dữ liệu được vì không có giá trị tên PB!'
	else if @ChiNhanh is null
		print N'Không thêm dữ liệu được vì không có giá trị Chi Nhánh!'
	else if 
		@MaPB is null and @TenPB is null
		or
		@MaPB is null and @ChiNhanh is null
		or
		@ChiNhanh is null and @TenPB is null

		print N'Không thêm dữ liệu được vì không có 2 giá trị cần nhập!'
	else if @MaPB is null and @TenPB is null and @ChiNhanh is null
		print N'Không thêm dữ liệu được vì không có cả 3 giá trị mã PB, tên PB và Chi Nhánh!'
	
	else if @ChiNhanh not in (N'Sài gòn', N'Hà nội')
		print N'Không thêm dữ liệu được vì chi nhánh không hợp lệ!'

	else if exists (
			select *
			from PhongBanHN
			where MaPB = @MaPB
		)
		or exists (
			select *
			from PhongBanSG
			where MaPB = @MaPB
		)
		print N'Không thêm dữ liệu được vì trùng mã phòng ban'
	else if @ChiNhanh = N'Hà nội'
		begin
			insert into PhongBanHN
			values (@MaPB, @TenPB, @ChiNhanh)
			print N'Thêm dữ liệu thành công!'
		end
	else if @ChiNhanh = N'Sài gòn'
		begin
			insert into PhongBanSG
			values (@MaPB, @TenPB, @ChiNhanh)
			print N'Thêm dữ liệu thành công!'
		end
end
go
--		Exec Stored procedure ThemPhongBanMuc2:
exec ThemPhongBanMuc2 NULL, N'Bảo hành', N'Sài gòn'
go
exec ThemPhongBanMuc2 N'PB07', N'Bảo hành', N'Sài gòn'
go
exec ThemPhongBanMuc2 N'PB08', N'Tư vấn', N'Hà nội'
go
exec ThemPhongBanMuc2 N'PB01', N'Kho vận', N'Hà nội'
go
exec ThemPhongBanMuc2 N'PB09', N'Nghiên cứu', N'Cần thơ'
go

--Câu 4: 3 điểm


--		Tạo Stored procedure SuaPhongBanMuc1:
create proc SuaPhongBanMuc1(
	@MaPB nvarchar(10),
	@TenPB nvarchar(50),
	@ChiNhanh nvarchar(50)
)
as
begin
		if @MaPB is null
		print N'Không sửa dữ liệu được vì không có giá trị mã PB!'
	else if @TenPB is null
		print N'Không sửa dữ liệu được vì không có giá trị tên PB!'
	else if @ChiNhanh is null
		print N'Không sửa dữ liệu được vì không có giá trị chi nhánh!'
	else if 
		@MaPB is null and @TenPB is null
		or
		@MaPB is null and @ChiNhanh is null
		or
		@ChiNhanh is null and @TenPB is null

		print N'Không sửa dữ liệu được vì không có 2 giá trị cần nhập!'
	else if @MaPB is null and @TenPB is null and @ChiNhanh is null
		print N'Không sửa dữ liệu được vì không có cả 3 giá trị mã PB, tên PB và Chi Nhánh!'
	
	else if @ChiNhanh not in (N'Sài gòn', N'Hà nội')
		print N'Không sửa dữ liệu được vì chi nhánh không hợp lệ!'
	else if not exists (
		select *
		from PhongBan
		where PhongBan.MaPB = @MaPB
	)
		print N'Không sửa dữ liệu được vì không tìm thấy có giá trị mã phòng ban!'
	else
		begin
			update PhongBan
			set TenPB = @TenPB, ChiNhanh = @ChiNhanh
			where MaPB = @MaPB
			print N'Dữ liệu đã được cập nhật'
		end
end
go
--		Exec Stored procedure SuaPhongBanMuc1:
exec SuaPhongBanMuc1 NULL, N'Thiết kế', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', Null
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', N'Cần thơ'
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB02', N'Phát triển', N'Hà nội'
go
exec SuaPhongBanMuc1 N'PB06', N'Tài chánh', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB09', N'Kỹ thuật', N'Sài gòn'
go

--		Tạo Stored procedure SuaPhongBanMuc2:
create proc SuaPhongBanMuc2(
	@MaPB nvarchar(10),
	@TenPB nvarchar(50),
	@ChiNhanh nvarchar(50)
)
as
begin
		if @MaPB is null
		print N'Không sửa dữ liệu được vì không có giá trị mã PB!'
	else if @TenPB is null
		print N'Không sửa dữ liệu được vì không có giá trị tên PB!'
	else if @ChiNhanh is null
		print N'Không sửa dữ liệu được vì không có giá trị chi nhánh!'
	else if 
		@MaPB is null and @TenPB is null
		or
		@MaPB is null and @ChiNhanh is null
		or
		@ChiNhanh is null and @TenPB is null

		print N'Không sửa dữ liệu được vì không có 2 giá trị cần nhập!'
	else if @MaPB is null and @TenPB is null and @ChiNhanh is null
		print N'Không sửa dữ liệu được vì không có cả 3 giá trị mã PB, tên PB và Chi Nhánh!'
	
	else if @ChiNhanh not in (N'Sài gòn', N'Hà nội')
		print N'Không sửa dữ liệu được vì chi nhánh không hợp lệ!'
	else if not exists (
		select *
		from PhongBanHN
		where PhongBanHN.MaPB = @MaPB
	)
	or not exists (
		select *
		from PhongBanSG
		where PhongBanSG.MaPB = @MaPB
	) 
		print N'Không sửa dữ liệu được vì không tìm thấy có giá trị mã phòng ban!'
	else if @ChiNhanh = N'Hà nội'
		begin
			update PhongBanHN
			set TenPB = @TenPB, ChiNhanh = @ChiNhanh
			where MaPB = @MaPB
		end
	else if @ChiNhanh = N'Sài gòn'
		begin
			update PhongBanSG
			set TenPB = @TenPB, ChiNhanh = @ChiNhanh
			where MaPB = @MaPB
		end
end
go
--		Exec Stored procedure SuaPhongBanMuc2:
exec SuaPhongBanMuc1 NULL, N'Thiết kế', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', Null
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', N'Cần thơ'
go
exec SuaPhongBanMuc1 N'PB01', N'Nghiên cứu', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB02', N'Phát triển', N'Hà nội'
go
exec SuaPhongBanMuc1 N'PB06', N'Tài chánh', N'Sài gòn'
go
exec SuaPhongBanMuc1 N'PB09', N'Kỹ thuật', N'Sài gòn'
go




--Cuối bài: nộp file .sql này (SoMay_MSSV_HoTenKhongDau.sql) vào ổ Z:\
-- HẾT ---------------------------------------------------------------------------------------------------
